.App {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.containerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.userWrite {
  margin-top: 10px;
  height: 44px;
}

.containerSearch button {
  margin-top: 10px;
}

.total {
  text-align: center;
  padding: 10px;
  width: 200px;
}

.containerCart {
  display: flex;
}

.containerCart ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCart ul li {
  padding: 5px;
}

@media (max-width: 768px) {

  .App {
    padding: 10px;
    height: 100vh;
  }

  .userWrite {
    height: 24px;
  }

  .containerCart ul {
    justify-content: flex-start;
  }

  .containerCart ul li {
    width: 165px;
    height: 140px;
    background: rgb(224, 65, 65);
    border: 1px solid rgb(87, 6, 6);
    margin: 3px;
  }

  .total {
    width: 295px;
  }
}


